#layout
  display flex
  flex-flow row nowrap
  min-height 100vh
  max-width 100%
  overflow-x hidden
  border-top 1px solid #ddd
  border-bottom 1px solid #ddd

  figure
    order -1
    text-align center
    padding 6px

  section
    padding 32px
    flex 1 1 45%

    &.ui
      background #fafafa

      > div
        overflow-x auto
        max-width 100%

      ol
        display flex
        flex-flow row nowrap
        padding 0

        li
          display flex
          flex-flow column nowrap
          align-items center
          flex 0 0 200px
          padding 20px
          background white

          &:not(:first-child)
            margin-left 4px

        img
          border-radius 50%

  .controls
    display flex
    flex-flow row nowrap
    float right

    > *:not(:first-child)
      margin-left 32px

    input[type="number"]
      width 48px
