#layout
  display flex
  flex-flow row nowrap
  min-height 100vh
  max-width 100%
  overflow-x hidden
  border-top 1px solid #ddd
  border-bottom 1px solid #ddd

  a+a
    padding-left 10px
    position relative

    &:before
      content ','
      text-decoration none
      color #999
      position absolute
      left 0

  figure
    order -1
    text-align center
    padding 6px

  section
    padding 32px
    flex 1 1 45%

    > div
      &:not(:first-child)
        margin-top 32px

    &.ui
      background #fafafa

      > div
        overflow-x auto
        max-width 100%

      .users
        li
          align-items center
          > span
            size 36px
            padding 8px
            background #fafafa
            border 1px solid rgba(black, .1)
            border-radius 50px
            text-align center

      ol
        display flex
        flex-flow row wrap
        padding 0

        li
          display flex
          flex-flow column nowrap
          align-items left
          justify-content space-between
          flex 1 1 30%
          margin 4px
          padding 20px
          background white

          strong
            font-size 16px
            font-weight 400
            line-height 20px
            margin-bottom 12px

          &:not(:first-child)
            margin-left 4px

        img
          border-radius 50%

  .controls
    display flex
    flex-flow row nowrap
    float right

    > *:not(:first-child)
      margin-left 32px

    input[type="number"]
      width 48px
