ol.table
  display: table;
  max-width: 100%;
  padding: 0
  width 100%

  li
    display table-row

    &:nth-child(2n)
      background-color #fafafa

    > :first-child
      padding-left 32px //alow for selects ticks

    &.sel
      > :first-child
        position relative

        &:before
          content '✔'
          position absolute
          left 12px
          font-size 10px
          color green

      > *
        background-color: rgba(green, .05)

    &:first-child:not([data-id])
      span
      strong
        padding-bottom 20px
        text-transform capitalize
        color black

    > *
      display: table-cell;
      vertical-align top
      padding: 16px;
      max-width: 200px;
      white-space nowrap
      cursor default
      text-overflow ellipsis
      overflow hidden
      font-family: 'IBM Plex Mono'
      color #666

    img
      max-height: 36px;
      border-radius: 50%;
      width: auto

.sortable
  text-decoration: underline;
  cursor: pointer;
  position relative

  &:hover
    cursor: pointer

  *
    cursor pointer

  &[data-dir]
    font-weight 600
