ol
  display: table;
  max-width: 100%;
  li
    display table-row

    span
    strong
      display: table-cell;
      padding: 2px 4px;
      max-width: 30%;

    img
      max-height: 48px;
      border-radius: 48px;
      width: auto

.sortable
  text-decoration: underline;
  cursor: pointer;
